.wrapper {
  margin: 0 auto;

  .menu {
    margin: 20px 10px;

    input {
      margin: 10px 10px 0 0;
    }
  }

  .box {
    display: flex;
    flex-wrap: wrap;
  }

  .box_1 {
    width: 360px;
  }

  .box_2 {
    width: 700px;
  }
  .box_3 {
    width: 1050px;
  }

  .game-over {
    color: red;
  }
}
