.wrapper {
  width: 700px;
  margin: 0 auto;

  .menu {
    margin: 20px 10px;

    input {
      margin: 10px 10px 0 0;
    }
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
  }

  .game-over {
    color: red;
  }
}
